<!-- <p id="notice"><%= notice %></p> -->

<div class="panel panel-default" id="showPinsPanel">
  <div class="panel-heading">
    <h3 class="panel-title"> <%= @pin.description %> </h3>
  </div>
  <div class="panel-body">
    <%= @pin.body %> 
    <br></br>
  <%= link_to 'Editar', edit_pin_path(@pin) %> |
  <%= link_to 'Volver', pins_path %>
  </div>
  
</div>


