<div class="jumbotron" id="myJumbotron">
  <div class="container">
    <h2 style="text-align: center"> Galería de imagenes <h2> 
  </div>
</div>




<!-- Primera fila de galeria -->
<div class="row" style="margin-left:2%">
  

<!-- Galeria Club 4H -->
  <div class="col-xs-4 col-md-4">
    <a href="" class="thumbnail" id="thumbnailGaleria" data-toggle="modal" data-target="#myModal">
      <img src="https://s3-us-west-2.amazonaws.com/waterqualitypr/images/club4h/014.jpg?" alt="..." id="imgGaleria">
    </a>
    <h4 id="descGaleria"> Galería Club 4H </h4>

    <!-- Modal -->
   <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">          
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel"> Galería Club 4H</h4>
          </div>
          <div class="modal-body"> <%= render 'layouts/club4h'%> </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal"> Close </button>
        </div>
      </div>
    </div>
  </div>



<!-- Galeria recogido de muestras -->  
  <div class="col-xs-4 col-md-4">
    <a href="" class="thumbnail" id="thumbnailGaleria" data-toggle="modal" data-target="#muestreoModal">
      <img src="https://s3-us-west-2.amazonaws.com/waterqualitypr/images/muestreo/manejo_muestras_1.jpg" alt="..." id="imgGaleria">
    </a>
    <h4 id="descGaleria"> Galería recogido de muestras </h4>


    <!-- Modal -->
   <div class="modal fade" id="muestreoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">          
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel"> Galería recogido de muestras </h4>
          </div>
          <div class="modal-body"> <%= render 'layouts/muestreo'%> </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal"> Close </button>
        </div>
      </div>
    </div>
  </div>


<!-- Galeria fotos de campo 1 -->
  <div class="col-xs-4 col-md-4">
    <a href="" class="thumbnail" id="thumbnailGaleria" data-toggle="modal" data-target="#campo1Modal">
      <img src="https://s3-us-west-2.amazonaws.com/waterqualitypr/images/campo/10_1_14_-_%2317_finca_arroz_guanica.jpg" alt="..." id="imgGaleria">
    </a>
    <h4 id="descGaleria"> Galería de Campo 1 </h4> 


    <!-- Modal -->
   <div class="modal fade" id="campo1Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">          
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel"> Galería de Campo 1</h4>
          </div>
          <div class="modal-body"> <%= render 'layouts/campo1'%> </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal"> Close </button>
        </div>
      </div>
    </div>
  </div>
</div>


<br> </br>


<!-- Segunda fila de galeria -->
<div class="row" style="margin-left:2%">
  

<!-- Galeria de fotos de campo 2 -->
  <div class="col-xs-4 col-md-4">
    <a href="" class="thumbnail" id="thumbnailGaleria" data-toggle="modal" data-target="#campo2Modal">
      <img src="https://s3-us-west-2.amazonaws.com/waterqualitypr/images/campo/10_8_14-%2320_paisaje_y_tubo_descarga_cmpr.jpg" alt="..." id="imgGaleria">
    </a>
    <h4 id="descGaleria"> Galería de campo 2 </h4>

<!-- Modal -->
 <div class="modal fade" id="campo2Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">          
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel"> Galería de Campo 2 </h4>
          </div>
          <div class="modal-body"> <%= render 'layouts/campo2'%> </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal"> Close </button>
        </div>
      </div>
    </div>
  </div>
  

<!-- Galeria fotos de campo 3 -->
<div class="col-xs-4 col-md-4">
    <a href="" class="thumbnail" id="thumbnailGaleria" data-toggle="modal" data-target="#campo3Modal">
      <img src="https://s3-us-west-2.amazonaws.com/waterqualitypr/images/campo/20140806_130104.jpg" alt="..." id="imgGaleria">
    </a>
    <h4 id="descGaleria"> Galería de campo 3 </h4>

<!-- Modal -->
<div class="modal fade" id="campo3Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">          
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel"> Galería de Campo 3</h4>
          </div>
          <div class="modal-body"> <%= render 'layouts/campo3'%> </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal"> Close </button>
        </div>
      </div>
    </div>
  </div>

<!-- Galeria fotos de filtros -->
  <div class="col-xs-4 col-md-4">
    <a href="" class="thumbnail" id="thumbnailGaleria" data-toggle="modal" data-target="#filtrosModal">
      <img src="https://s3-us-west-2.amazonaws.com/waterqualitypr/images/filtros/aguas-abajo-planta-filtro-lajas.jpg" alt="..." id="imgGaleria">
    </a>
  </div>
  <h4 id="descGaleria"> Galería de filtros </h4>

<!-- Modal -->
<div class="modal fade" id="filtrosModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">          
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel"> Galería de Filtros </h4>
          </div>
          <div class="modal-body"> <%= render 'layouts/filtros'%> </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal"> Close </button>
        </div>
      </div>
    </div>
  </div>

</div>




